@model IEnumerable<ElectoralApp.Models.Candidatos>  
   <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PartidoFkNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="font-weight-bold">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PartidoFkNavigation.Descripción)
                    </td>
                    <td>
                        @if (item.Estado == true)
                        {
                            <span>Activo</span>
                        }
                        else
                        {
                            <span>Inactivo</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
