@model IEnumerable<ElectoralApp.Models.PuestoElectivo>

@{
    ViewData["Title"] = "Resultados";
}

<h1>Resultados</h1>

<h3>Seleccione el Puesto Electivo</h3>

<p>
    <a class="btn btn-light" asp-action="Index" asp-controller="Elecciones">Volver al Menu Elecciones</a>
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripción)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
             
                if (!(item.Nombre == "Ninguno"))
                {
                    <tr class="font-weight-bold">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripción)
                        </td>
                        <td align="right">
                            <a class="btn btn-light btn-sm" asp-action="GenerateResults" asp-route-id="@item.Id">Seleccionar</a>
                        </td>
                    </tr>
                }
            
        }
    </tbody>
</table>
