@model IEnumerable<ElectoralApp.Models.Candidatos>

@{
    ViewData["Title"] = "Candidatos";
}

<h1>Candidatos</h1>

<p>
    <a asp-action="Create">Añadir</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FotoDePerfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartidoFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PuestoFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var photoPath = "~/images/" + ((!string.IsNullOrEmpty(item.FotoDePerfil) ? item.FotoDePerfil : "nophoto.png"));
            <tr class="font-weight-bold">
                <td>
                    <img width="200" height="200" src="@photoPath" alt="Responsive image" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PartidoFkNavigation.Descripción)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PuestoFkNavigation.Descripción)
                </td>
                <td>
                    @if (item.Estado == true)
                    {
                        <span>Activo</span>
                    }
                    else
                    {
                        <span>Inactivo</span>
                    }
                </td>
                <td align="right">
                    <a class="btn btn-light btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    @if (item.Estado == true)
                    {
                        <a class="btn btn-light btn-sm" asp-action="Delete" asp-route-id="@item.Id">Inactivar</a>
                    }
                    else
                    {
                        <a class="btn btn-light btn-sm" asp-action="Delete" asp-route-id="@item.Id">Activar</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-action="Index" asp-controller="Admin">Volver al Menu Administrador</a>
</p>

